
@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200;300;400;500;600;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    line-height: 1.2;

}

body{
    background-image: url('./back-to-school-.jpg');
    font-family: 'Dosis' ,sans-serif; 
}


main{
   
   width: 100%;
   height: 100vh;
   background: cover cover/repeat;
   overflow: hidden;
   background: rgba(0,0,0,0.3);
   
}

.glass{
    width: 60vw;
    height: 70vh;
    background: linear-gradient(to top left,rgba(255,255,255,0.6),rgba(255,255,255,0.2));
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    border-radius: 1rem;
    opacity: 0.8;
    backdrop-filter: blur(0.3rem);
    z-index: 2;
   overflow: hidden;
   display: flex;
   justify-content: space-between;
   padding: 2rem;

}

.circle1,.circle2{
    width: 10vh;
    height: 10vh;
   position: absolute;
   transform: translate(-50%,-50%);
   background: linear-gradient(30deg,#420344,#24198a);
  border-radius: 50%;
  backdrop-filter: blur(0.1rem);
  z-index: 1;
}

.circle1{
    top: 80%;
    left: 20%;

 }
.circle2{
    left: 80%;
    top: 20%;
}



/* ............................About section */

.welcome{
    flex:2;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    
}
.welcome img{
    background: no-repeat center/cover;
    width: 15vw;
    border: 2px solid rgb(119, 115, 115);
    padding: 0.5rem;
    border-radius: 50%;
    

}



/* ........................Login and Registration section */

.section1,.section2{
    transition: 3s ease;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    animation: animate 1.5s ease;
    padding-top: 1rem;
}

@keyframes animate{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}


.section1 input,.section2 input{
    background: transparent;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    outline: none;
    border: none;
    border-radius: 6rem;
   border-bottom: 2px solid #edf3e0;
   padding: 0.5rem;  
}
.section2 input{
    padding: 0.3rem; 
    margin-top: 0.3rem;
    margin-bottom: 0.3rem;
}
.section2{
    margin-top: 1rem;
    display: none;
}

.section1 input:focus,.section2 input:focus{
 transition: 0.8s ease;
 border-color: #420344;
 box-shadow: 0 1px 5px 0px #7c797c;
}
.section1 input::placeholder,.section2 input::placeholder{
    color: rgb(73, 72, 75);
    padding-left: 0.5rem;
}


.section1 button,.section2 button{
    margin-top: 0.5rem;
    padding: 0.5rem 1rem; 
    color: #420344;
    border: none;
    border-radius: 2rem;
    cursor: pointer;
    border: solid 2px #420344;
    background-color: transparent;
    
}
.section2 button{
    padding: 0rem 0.3rem;
}


.section1 button:hover , .section2 button:hover{
    transition: 0.5s ease;
    color: #7c797c;
    border: solid 2px #7c797c;
    background:linear-gradient(to right top,#420344,#420344);
 
}


.section1 button:focus,.section2 button:focus{
    
    border-color: #331533;
    box-shadow: 0 1px 5px 0px #7c797c;
   }

   .section1 .title , .section2 .title{
       font-size: 1.6rem;
       color: #420344;
   }

.icon{
    display: flex;
    list-style: none;
    padding: 0.3rem;
    
}
.icon i{
    padding: 1.2rem  1rem;
    cursor: pointer;
    font-size: 0.9rem;
}
.icon i:hover{
    color: #420344;
    padding: 1rem;
    font-size: 1.2rem;
}

footer{
    text-align: center;
    width: 100%;
    background:linear-gradient(to top right,rgba(255, 255, 255, 0.3),rgba(255,255,255,0.7));
    opacity: 0.7;
    backdrop-filter: blur(1rem);
    position: absolute;
    bottom: 0;
}

@media screen and (max-width:600px){

   .welcome{
    display: none;
    
   }
  
    
    .glass{
        font-size: 0.5rem;
        overflow-y: auto;
        display: block;
        padding-bottom:5rem;
    }

    .section2{
        padding-top: 10px;
        font-size: 1rem;
    }

} 